{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% set classes = bulma_button_classes %}

<div class="control">
  <button{{ attributes.addClass(classes) }}>
    {% if icon %}
      <span class="icon">
      <i class="fa fa-{{ icon }}"></i>
    </span>
    {% endif %}
    {% if label is not empty %}
      <span>{{ label }}</span>
    {% endif %}
  </button>{{ children }}
</div>