@charset "UTF-8";

// Vertical tabs fix.
.vertical-tabs {
  .vertical-tabs__panes {
    padding: 1rem;

    .vertical-tabs__pane {
      padding-right: 1rem;
    }

    // Fix for fieldsets inside vertical tabs.
    .panel {
      .panel-block {
        border: 0;
      }
    }

    .control {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

  }
}

// Navigation nav fix. Resolved one theme suggestions less for clean blocks.
#header {
  .nav-right {
    nav {
      -webkit-overflow-scrolling: touch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-shrink: 0;
      max-width: 100%;
      overflow: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    .nav-menu {
      &.nav-right {
        &.is-active {
          nav {
            display: block;
          }
        }
      }
    }
  }
}

article {
  &.content {
    padding-bottom: 2rem;
  }

  section {
    &.comment-section {
      article {
        padding-bottom: 2rem;
      }
    }
  }
}

.links {

  &.bulma {
    padding-top: 1rem;
  }
}